


<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>jQuery UI Datepicker - Default functionality</title>
<link rel="stylesheet"
	href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
<link rel="stylesheet"
	href="https://jqueryui.com/resources/demos/style.css">
<script src="https://code.jquery.com/jquery-3.3.1.js"></script>
<!-- <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script> -->
 <script th:src="@{/js/jquery-ui.js}"></script>
<script>
	$(function() {
		$("#datepicker").datepicker();
	});
</script>
</head>
<body>
	<!-- Include _menu.html -->
	<div>
		<th:block th:include="/_menu"></th:block>
	</div>
	<div>
		<form name='f' th:action="@{/downloadOneFile}" method='POST'>
			<p>
				Date: <input type="text" id="datepicker" name="c_date1">
			</p>
			<input type="submit" value="download file">
		</form>
	</div>
</body>
</html>