<!doctype html>
<html lang='en' xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset='utf-8'>
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<!-- <link rel="stylesheet" href="/css/menu_styles.css"> -->
<link rel="stylesheet" th:href="@{/css/menu_styles.css}" type="text/css"
	media="all" />
<!-- <script src="http://code.jquery.com/jquery-latest.min.js"
	type="text/javascript"></script> -->
<script src="script.js"></script>
<title>CSS MenuMaker</title>
</head>
<body>

	<div id='cssmenu'>
		<ul>
			<li><a th:href="@{/}"><span>Home</span></a></li>
			<li class='active has-sub'><a href='#'><span>Admin
						Area</span></a>
				<ul>
					<li class='has-sub'><a href='#'><span>Account</span></a>
						<ul>
							<li><a href="#"><span>Add New</span></a></li>
							<li class='last'><a href='#'><span>Update Details</span></a></li>
							<li class='last'><a href='#'><span>Update Status</span></a></li>
						</ul></li>

					<li class='has-sub'><a href='#'><span>Project</span></a>
						<ul>
							<li><a th:href="@{/manager/newProject}"><span>Add
										New</span></a></li>
							<li class='last'><a href='#'><span>Update Details</span></a></li>
							<li class='last'><a href='#'><span>Update Status</span></a></li>
						</ul></li>

					<li class='has-sub'><a href='#'><span>Project Type</span></a>
						<ul>
							<li><a href="#"><span>Add New</span></a></li>
							<li class='last'><a href='#'><span>Update Details</span></a></li>
							<li class='last'><a href='#'><span>Update Status</span></a></li>
						</ul></li>

					<li class='has-sub'><a href='#'><span>User</span></a>
						<ul>
							<li><a th:href="@{/manager/newUser}"><span>Add
										New</span></a></li>
							<li class='last'><a href='#'><span>Update Details</span></a></li>
							<li class='last'><a href='#'><span>Update Status</span></a></li>
						</ul></li>
					<li class='has-sub'><a href='#'><span>White List</span></a>
						<ul>
							<li><a th:href="@{/manager/newWhite}"><span>Add
										New </span></a></li>
							<li class='last'><a href='#'><span>Update </span></a></li>
							<li class='last'><a href='#'><span>Update Status</span></a></li>
						</ul></li>
					<li class='has-sub'><a href='#'><span>Grey List</span></a>
						<ul>
							<li><a th:href="@{/manager/newGrey}"><span>Add
										New </span></a></li>
							<li class='last'><a href='#'><span>Update </span></a></li>
							<li class='last'><a href='#'><span>Update Status</span></a></li>
						</ul></li>

				</ul></li>


			<li class='active has-sub'><a href='#'><span>Data</span></a>
				<ul>
					<li><a th:href="@{/uploadOneFile}"><span>Data
								Upload</span></a></li>
					<li><a th:href="@{/downloadOneFile}"><span>Data
								Download</span></a></li>
					<li><a href='#'><span>Data Search</span></a></li>
					<li class='has-sub'><a href='#'><span>Quality Check</span></a>
						<ul>

							<li class='last'><a href='#'><span>Quality Ckeck
										Team Leader </span></a></li>
							<li class='last'><a href='#'><span>Quality Ckeck
										Manager</span></a></li>
						</ul></li>

				</ul></li>


			<li><a href='#'><span>About</span></a></li>
			<li class='last'><a href='#'><span>Contact</span></a></li>

			<!-- login logout button should be right corner on page -->
			<li><a th:if="${#request.userPrincipal == null}"
				th:href="@{/userInfo}"><span class="glyphicon glyphicon-log-in"></span>
					Login</a></li>
			<li><a th:if="${#request.userPrincipal != null}"
				th:href="@{/logout}"><span class="glyphicon glyphicon-log-in"></span>
					Logout</a></li>

		</ul>
	</div>

</body>
<html>